/*Embed font*/
@font-face {
    font-family: Roboto-regular;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-black;
    src: url(../fonts/Roboto-Black.ttf);
}

@font-face {
    font-family: Roboto-medium;
    src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: Roboto-italic;
    src: url(../fonts/Roboto-Italic.ttf);
}

@font-face {
    font-family: Roboto-black;
    src: url(../fonts/Roboto-Black.ttf);
}

@font-face {
    font-family: Roboto-light;
    src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: Roboto-bold;
    src: url(../fonts/Roboto-Bold.ttf);
}

.archive_page .product_rating,
.archive_page .product_price,
.archive_page .product_name {
    padding-left: 15px;
}

.float-none {
    float: none;
}

.woocommerce form .form-row .input-checkbox {
    position: relative;
}

.no-border {
    border: none !important;
}

.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0
}

.no-padding-left {
    padding-left: 0
}

.no-padding-right {
    padding-right: 0
}

.header {
    position: fixed;
    z-index: 99;
    width: 100%;
    top: 0px;
}

.no-padding-top {
    padding-top: 0
}

.no-padding-bottom {
    padding-bottom: 0
}

.padding-1 {
    padding: 15px
}

.padding-2 {
    padding: 30px
}

.padding-3 {
    padding: 45px
}

.padding-4 {
    padding: 60px
}

.padding-left-1 {
    padding-left: 15px
}

.padding-left-2 {
    padding-left: 30px
}

.padding-left-3 {
    padding-left: 45px
}

.padding-left-4 {
    padding-left: 60px
}

.padding-right-1 {
    padding-right: 15px
}

.padding-right-2 {
    padding-right: 30px
}

.padding-right-3 {
    padding-right: 45px
}

.padding-right-4 {
    padding-right: 60px
}

.padding-top-1 {
    padding-top: 15px
}

.padding-top-2 {
    padding-top: 30px
}

.padding-top-3 {
    padding-top: 45px
}

.padding-top-4 {
    padding-top: 60px
}

.padding-bottom-1 {
    padding-bottom: 15px
}

.padding-bottom-2 {
    padding-bottom: 30px
}

.padding-bottom-3 {
    padding-bottom: 45px
}

.padding-bottom-4 {
    padding-bottom: 60px
}

@media (min-width: 1200px) {
    .no-padding-lg {
        padding: 0
    }

    .no-padding-left-lg {
        padding-left: 0
    }

    .no-padding-right-lg {
        padding-right: 0
    }

    .no-padding-top {
        padding-top: 0
    }

    .no-padding-bottom {
        padding-bottom: 0
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .no-padding-md {
        padding: 0
    }

    .no-padding-left-md {
        padding-left: 0
    }

    .no-padding-right-md {
        padding-right: 0
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .no-padding-sm {
        padding: 0
    }

    .no-padding-left-sm {
        padding-left: 0
    }

    .no-padding-right-sm {
        padding-right: 0
    }
}

@media (max-width: 786px) {
    .no-padding-xs {
        padding: 0
    }

    .no-padding-left-xs {
        padding-left: 0
    }

    .no-padding-right-xs {
        padding-right: 0
    }
}

@font-face {
    font-family: 'Lato-Black';
    src: url(../fonts/Lato-Black.ttf);
}

@font-face {
    font-family: 'Lato-Bold';
    src: url(../fonts/Lato-Bold.ttf);
}

@font-face {
    font-family: 'Lato-Heavy';
    src: url(../fonts/Lato-Heavy.ttf);
}

@font-face {
    font-family: 'Lato-Light';
    src: url(../fonts/Lato-Light.ttf);
}

@font-face {
    font-family: 'Lato-Regular';
    src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: 'Lato-Semibold';
    src: url(../fonts/Lato-Semibold.ttf);
}

@font-face {
    font-family: 'Lato-Medium';
    src: url(../fonts/Lato-Medium.ttf);
}

@font-face {
    font-family: 'RobotoCondensed-Bold';
    src: url(../fonts/RobotoCondensed-Bold.ttf);
}

@font-face {
    font-family: 'RobotoCondensed-Regular';
    src: url(../fonts/RobotoCondensed-Regular.ttf);
}

.mr-4 {
    margin-right: 4px;
}

.fz-15 {
    font-size: 15px;
}

.fz-16 {
    font-size: 16px;
}

.fz-20 {
    font-size: 20px;
}

body {
    font-family: Roboto-regular;
    font-size: 13px;
    color: #333333;
    text-align: justify;
    background: #f5f5f5;
}

a {
    color: #333333;
}

a:hover {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.header_top {
    /*background: #000;*/
    background: #ededed;
    height: 25px;
    line-height: 25px;
}

.header_top a {
    color: #666666;
    font-size: 14px;
    font-family: Roboto-medium;
}

.header_top ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header_top ul li {
    display: inline-block;
    margin: 0 15px;
}

.header_top_right {
    /*text-transform: uppercase;*/
    font-size: 14px;
    font-family: Roboto-medium;
}

.header_main {
    height: 72px;
    background: #232323;
    /*padding-top: 20px;*/
}

.header_main_container {
    position: relative;
    height: 72px;
}

.header_main_container:after {
    display: table;
    content: '';
    clear: both;
}

.header_search {
    height: 44px;
    width: 240px;
    margin-top: 14px;
    display: block;
    margin-left: 105px;
    margin-right: 20px;
    padding: 0;
    display: block;
    float: left;
}

.header_main_container .header_cart {
    padding: 10px 0;
}

.header_main img {
    /*margin: 0px auto;*/
    height: 34px;
}

.frm_search {
    position: relative;
    width: 240px;
}

.header_search input[type=text] {
    background: #ffff;
    border: solid 1px #333;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    font-family: Roboto-Regular;
    font-size: 15px;
    height: 44px;
    padding-left: 45px;

}

.brand_page {
    width: 1220px;
    margin: 66px auto 0;
}

.header_cart {
    display: inline-block;
    float: right;
    width: 33px;
    margin-left: 20px;
    margin-top: 12px;
    margin-right: 15px;
}

.header_top_right .fa-info {
    margin-right: 3px;
    border: 1px solid;
    padding: 3px 6px;
    border-radius: 50%;
    font-size: 12px;
}

.number_cart_items {
    position: absolute;
    top: 0;
    left: 9px;
    font-size: 14px;
    text-align: center;
    width: 18px;
    font-family: Roboto-black;
}

.status_remain {
    color: #479513;
    font-family: Roboto-regular;
    font-size: 14px;
    line-height: 19px;
}

.btn_search {
    position: absolute;
    background: transparent;
    color: #929292;
    font-size: 14px;
    top: 0px;
    left: 0px;
    width: 40px;
    height: 44px;
    padding: 13px 0 13px 11px;
}

.frm_search .fa.fa-search {
    font-size: 18px;
}

.header_menu {
    height: 48px;
    line-height: 48px;
    border-bottom: solid 1px #ddd;
    display: none;
}

.menu_left ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#menu-header-menu {
    position: relative;
}

.menu_left ul li {
    display: inline-block;
    margin-right: 20px;
    padding-top: 14px;
    padding-bottom: 20px;
    margin-left: 20px;
    position: inherit;
}

.menu_left ul > li:first-child {
    margin-left: 0px;
}

.menu-left ul li:last-child {
    margin-right: 0px;
}

.menu_left ul li a {
    font-family: Roboto-regular;
    font-size: 18px;
    color: #ffff;
    height: 24px;
    padding-bottom: 27px;
    text-transform: capitalize;
}

.desktop_menu_container {
    position: relative;
}

.menu-item-has-children a {
    position: relative;
}

/*.menu-item-has-children a:after {*/
/*position: absolute;*/
/*top: 50%;*/
/*right: -13px;*/
/*content: "";*/
/*width: 0;*/
/*height: 0px;*/
/*border: solid 4px transparent;*/
/*border-top-color: #333;*/
/*margin-top: -2px;*/
/*}*/

.sub-menu a {
    position: inherit;
}

.sub-menu a:after {
    display: none;
}

ul.sub-menu {
    display: none;
    position: absolute;
    /*top: 48px;*/
    left: 0px;
    right: 0px;
    width: 100%;
    margin: 0 auto;
    background: #fff;
    z-index: 9;
    box-shadow: 0px 0px 5px 0px #ddd;
    padding: 20px 50px;
}

.sub-menu li {
    float: left;
    margin-right: 60px;
}

.sub-menu li:last-child {
    border-bottom: none;
}

ul.sub-menu .sub_menu_container a {
    text-transform: uppercase;
    color: #333;
    padding-bottom: 0px;
    font-size: 15px;
    font-family: Roboto-medium;
    line-height: 20px;
    font-weight: 500;
}

.sub_menu_container > li {
    padding-top: 0px;
}

ul.sub-menu .sub_menu_container .sub_menu_container .menu-item {
    padding: 0px;
    margin: 10px 0
}

.title_filter {
    font-family: Roboto-regular;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
    line-height: 24px;
}

.btn_reset {
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #cccccc;
    line-height: 19px;
    font-family: Roboto-regular;
    margin-top: 14px;
    border-radius: 2px;
    border: solid 1px #cccccc;
    margin-right: 15px;
    padding: 6px 0px;
}

.btn_filter {
    font-family: Roboto-medium;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    border-radius: 2px;
    background-color: #4cb2fc;
    line-height: 19px;
    margin-top: 14px;

}

.filter_block > li:first-child {
    border-bottom: solid 1px #cccccc;
    padding-top: 14px;
    padding-bottom: 13px;
    padding-left: 0px;
    padding-right: 0px;
}

.list_filter .float-left {
    font-family: Roboto-medium;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
    line-height: 59px;
}

.list_sub_filter {
    display: none;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.list_sub_filter.open {
    display: block;
    clear: both;
}

.list_filter {
    border-bottom: solid 1px #cccccc;
}

.list_sub_item .form-group {
    margin-bottom: 0px;
    line-height: 30px;
}

.list_sub_item .form-group:last-child {
    margin-bottom: 20px;
}

.list_sub_filter label {
    padding-left: 0px;
}

.menu_left > ul > li:hover:after {
    display: table;
    content: '';
    height: 5px;
    width: 100%;
    background: #be926f;
    margin-top: 20px;
}

.menu_left ul li:hover .sub-menu {
    display: block;
    /*left: 0;*/
    /*right: 0;*/

}

.menu_left ul > li:hover > .sub-menu {
    width: 100%;
    overflow: hidden;
    position: fixed;
    margin-top: 25px;
}

.sub_menu_container > .menu-item {
    margin-right: 37px;
}

.sub_menu_container > .menu-item:nth-child(3) .sub-menu {
    min-width: 278px;
}

.sub_menu_container > .menu-item:nth-child(3) .sub_menu_container > .menu-item {
    width: 50%;
    float: left;
}

.single-product-page,
.sub-menu > .sub_menu_container {
    width: 1220px;
    display: block;
    margin: 0 auto;
}

.single-product-page {
    margin-top: 100px;
}

.sub-menu > .sub_menu_container .sub_menu_container {
    width: 100%;
}

.sub-menu li ul.sub-menu {
    width: auto;
    background: none;
    box-shadow: none;
    border: none;
    position: unset;
    max-width: 150px;
    margin: 0;
    padding: 0;
}

.sub-menu li ul.sub-menu li {
    width: 150px;
    margin-bottom: 5px;
    line-height: 20px;
}

.sub-menu li ul.sub-menu li a {
    color: #90969a;
    text-transform: none;
    font-family: Roboto-Regular;
    font-size: 14px;
}

.wrapper {
    margin-top: 20px;
}

.single_container,
.wrapper.container {
    margin-top: 114px;
}

.container {
    width: 1220px;
    padding: 0px;
}

.policy_block {
    height: 56px;
    margin-top: 114px;
    margin-bottom: 30px;

}

.policy_box.container {
    padding: 0px;
}

.policy_box {
    display: table-cell;
}

.policy_image {
    float: left;
    margin-right: 8px;
    width: 50px;
}

.policy_name {
    color: #999999;
    font-size: 14px;
    vertical-align: middle;
    display: table-cell;
    margin: auto;
    top: 0;
    bottom: 0px;
    height: 54px;
    line-height: 1.4;
    text-align: left;
}

.banner {
    height: 310px;
    overflow: hidden;
    margin-bottom: 40px;
}

.block_title {
    font-family: Roboto-regular;
    font-size: 22px;
    color: #333333;
    margin-bottom: 12px;
    line-height: 38px;
    padding: 0px;
}

.brand_page .block_title {
    font-size: 30px;
    line-height: 44px;
    text-transform: uppercase;
}

.list_category {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.list_category .first_cat_item {
    min-height: 208px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-right: 2px solid #f5f5f5;
}

#bs-example-navbar-collapse-1 {
    top: -1px;
    width: 100%;
    /*height: calc(100vh - 70px);*/
    height: 100%;
    position: fixed;
    left: -100%;
    background: #fdfdfd;
    z-index: 1000 !important;
    -webkit-box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.1);
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    display: block !important;
}

.archive_page {
    clear: both;
    margin-top: 114px;
}

.sidebar .select_price_filter,
.sidebar .filter_brand {
    font-size: 14px;

}

.filter_brand .icheckbox_minimal {
    margin-right: 10px;
}

.sidebar_title .special_title {
    text-align: left;
    font-family: Roboto-regular;
    font-size: 20px;
}

#bs-example-navbar-collapse-1 .social_item {
    text-align: center;

}

#bs-example-navbar-collapse-1 .footer_logo {
    margin-top: 13px;
}

#bs-example-navbar-collapse-1.open {
    left: 0px;
}

.full_screen_toogle .footer_logo img {
    display: block;
    margin: 0 auto;
}

.list_category li {
    float: left;
    padding: 12px 14px 0px 14px;
    text-align: center;
    border: solid 1px transparent;
    transition: linear .2s;
    max-height: 104px;
    min-height: 104px;
    background: #fff;
    border-top: 2px solid #f5f5f5;
    border-right: 2px solid #f5f5f5;
}

.list_category li:hover {
    background: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
}

.first_cat_item .category_image img {
    max-width: 100%;
    max-height: 156px;
}

.first_cat_item .category_image {
    float: none;
}

.category_image img {
    max-width: 80px;
    max-height: 80px;
}

.category_image {
    float: left;
}

.category_block .block_container {
    margin-bottom: 29px;
}

.brand_page .category_block .block_container {
    margin-bottom: 0px;
}

.product_filter_block {
    margin-bottom: 10px;
}

.product_filter_block select {
    border-radius: 2px;
    padding: 0px 0 0 2px;
}

.brand_page .list_product_slide .product_box .product_image{
    float: none;
    max-width: 100%;
    max-height: inherit;
}

.brand_page .list_product_slide .product_box .product_image img{
    display: block;
    margin: 0 auto;
    max-width: 180px;
    max-height: 180px;
}

.brand_page .list_product_slide .product_box{
    padding-left: 18px;
}

.brand_image_top {
    padding-right: 0px;
}

.count_product {
    font-size: 16px;
    font-family: Roboto-regular;
    line-height: 21px;
    color: #5c5c5c;
}

@media (min-width: 1200px) {
    .category_li {
        width: 20%;
    }
}

.list_category li:hover {
    border-color: #ddd;
    z-index: 1;
}

.list_category li img {
    margin: 0px auto;
}

.category_name a {
    font-family: Roboto-regular;
    font-size: 14px;
    color: #333333;
    line-height: 18px;
    text-align: left;
    color: #333;
    padding-left: 12px;
}

.ul_block_tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.ul_block_tab li {
    display: inline-block;
    margin-right: 20px;
    height: 28px;
    line-height: 24px;
    border-bottom: solid 4px transparent;
    transition: linear .3s;
    font-size: 17px;
    cursor: pointer;
}

.ul_block_tab li:hover, .ul_block_tab li.active {
    border-bottom: solid 4px #a07656;
}

.list_product_slide {
    padding-left: 1px;
    padding-top: 1px;
}

.list_product_slide .product_box {
    float: left;
    margin-top: 0px;
    margin-left: 0px;
    background: #ffff;
    transition: linear .3s;
    min-height: auto;
    padding: 4px 0 4px 0;
    width: 33.3%;
    float: left;
}

.list_product_slide .product_box:nth-child(8),
.list_product_slide .product_box:nth-child(5),
.list_product_slide .product_box:nth-child(2) {
    border-right: 2px solid #f5f5f5;
    border-left: 2px solid #f5f5f5;
}

.list_product_slide .product_box:nth-child(4),
.list_product_slide .product_box:nth-child(5),
.list_product_slide .product_box:nth-child(6) {
    border-top: 2px solid #f5f5f5;
    border-bottom: 2px solid #f5f5f5;
}

.brand_page .product_page_list .list_product_slide .product_box {
    border-right: 2px solid #f5f5f5;
    border-bottom: 2px solid #f5f5f5;
    border-top: none;
    border-left: none;
}

.product_category_page .list_product_slide .product_box .product_image {
    float: none;
    text-align: center;
    margin: 0 auto;
}

/*.product_category_page .product_name,*/
/*.product_category_page .product_price {*/
/*text-align: center;*/
/*}*/

.product_category_page .product_name,
.product_category_page .product_price {
    text-align: left;
}

.product_category_page .product_rating,
.product_category_page .product_price,
.product_category_page .product_name {
    padding: 0 18px 0;
    margin-bottom: 10px;
}

.product_category_page .list_product_slide .product_box .product_image,
.product_category_page .product_box img {
    max-height: 180px;
    min-height: 180px;
}

.list_product_slide .product_box .product_image {
    float: left;
    max-width: 140px;
    max-height: 140px;
}

.archive_page .list_product_slide .product_box .product_image {
    float: none;
    text-align: center;
    max-width: inherit;
    max-height: inherit;
}

.archive_page .list_product_slide .product_box .product_image img {
    display: block;
    margin: 0 auto;
}

.archive_page .product_box:nth-child(4n+1) {
    clear: left;
}

.archive_page .list_product_slide .product_box:nth-child(4),
.archive_page .list_product_slide .product_box:nth-child(5),
.archive_page .list_product_slide .product_box:nth-child(6),
.archive_page .list_product_slide .product_box:nth-child(8),
.archive_page .list_product_slide .product_box:nth-child(5),
.archive_page .list_product_slide .product_box:nth-child(2) {
    border: none;
}

.archive_page .list_product_slide .product_box:nth-child(n) {
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
}

.list_product_slide .product_box:nth-child(3n+1) {
    clear: left;

}

.product_page_list .list_product_slide .product_box:nth-child(3n+1) {
    clear: none;
}

.brand_page .product_page_list .list_product_slide .product_box:nth-child(3n+1) {
    clear: left;
}

.brand_page .product_page_list .list_product_slide .product_box {
    min-height: 155px;
}

.product_box:hover .product_mask,
.list_product_slide .product_box:hover .product_mask {

    z-index: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    display: block;
}

.product_mask .btn_order {
    line-height: 36px;
}

.product_mask {
    display: none;
    position: absolute;
    top: -21px;
    left: 1px;
    background: #fff;
    width: 98%;
    transition: opacity .3s ease-out;
}

.list_category .first_cat_item {
    position: relative;
}

.list_category .first_cat_item:after {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ffe17f;
    content: "";
    top: 0;
    left: 0;
    opacity: 0.04;
}

.list_category .first_cat_item:hover .list_category .first_cat_item:after {
    display: none;
}

.list_product_slide .product_mask {
    height: 164px;
}

.list_product_slide .product_mask .product_name {
    margin-bottom: 0px
}

.list_product_slide .product_box:hover .btn_order {
    display: block;
}

.list_product_slide .product_box .btn_order:hover {
    color: #333;
}

.payment_box.payment_method_bacs {
    display: none;
}

.product_category_page {
    width: 1220px;
    display: block;
    margin: 0 auto;
    margin-top: 115px;
}

#add_payment_method #payment, .woocommerce-cart #payment, .woocommerce-checkout #payment {
    background: #fafafa !important;
    border: solid 1px #cccccc;
}

.commit_policy {
    width: 640px;
    display: block;
    margin: 0 auto 20px;
    font-family: Roboto-regular;
    font-size: 14px;
    line-height: 21px;
    color: #666666;
    line-height: 1.5;
    left: 29%;
}

.hot_product_block .product_mask{
    position: absolute;
    top: -8px;
    left: 0px;
    width: 100%;
}

.commit_policy p {
    margin: 0;
}

.btn_fanpage {
    font-family: Roboto-regular;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4d4d4d;
    line-height: 27px;
    background: #f4f4f4;
    border: solid 1px #cccccc;
    width: 100%;
    height: 40px;
    text-transform: uppercase;
}

#payment {
    padding: 9px 15px 22px 15px;
}

#payment .wc_payment_methods.payment_methods.methods {
    border-bottom: none;
}

#payment .wc_payment_methods.payment_methods.methods label {
    font-size: 16px;
    line-height: 21px;
    font-family: Roboto-regular;
    padding-bottom: 29px;
}

#payment .payment_guild_bank img {
    display: block;
    margin: 0 auto 10px;
}

#payment .payment_guild_box {
    background: #f4f4f4;
    border: solid 1px #cccccc;
    padding: 11px 0 11px 0;
}

.fb_img {
    width: 26px;
    height: 27px;
    position: absolute;
    left: 38px;
}

#payment .payment_guild_info {
    font-size: 14px;
    line-height: 21px;
    font-family: Roboto-regular;
}

.view_all {
    text-align: right;
    text-transform: uppercase;
    font-family: Roboto-medium;
    line-height: 40px;
    font-size: 20px;
    font-weight: 500;
    color: #333;
    padding: 9px 20px 10px;
    border-top: solid 1px #f5f5f5;
}

.block_tab_content_wrap {
    background: #fff;
}

.category_total_item {
    font-size: 12px;
    line-height: 14px;
    font-family: Roboto-regular;
    color: #929292;
}

.product_rating .fa-star {
    color: #feb900;
    width: 14px;
    height: 14px;
    margin-right: 4.5px;
    font-size: 18px;
}

.product_rating {
    text-align: left;
    margin-bottom: 5px;
    min-height: 19px;
    margin-top: 10px;
}

.news_product_list .product_rating {
    padding-left: 18px;
    min-height: 19px;
    margin: 0px;
}

.news_product_list .product_price {
    padding-left: 18px;
    padding-bottom: 21px;
    margin-bottom: 5px;
}

.news_product_list .product_mask .product_price{
    padding-bottom: 0px;
}

.news_product_list .add_to_cart{
    text-align: center;
    margin-bottom: 10px;
}

.saleoff_block .product_mask img{
    min-height: 180px;
}

.news_product_list .product_box img {
    min-height: 180px;
    max-height: 180px;
}

.saleoff_container .product_rating img,
.news_product_list .product_rating img {
    width: 16px !important;
    height: 15px !important;
}

.product_info_right {
    float: left;
}

@media (min-width: 1200px) {
    /*.product_20p {*/
    /*width: 20%;*/
    /*}*/
}

.product_name {
    font-size: 14px;
    text-align: left;
    line-height: 21px;
    margin-bottom: 15px;
    overflow: hidden;
    padding-top: 13px;
    height: 28px;
}

.product_price {
    font-family: Roboto-bold;
    color: #333;
    font-size: 20px;
    line-height: 26px;
    text-align: left;
    margin-bottom: 15px;
    clear: left;
}

.hot_product_block {
    margin-bottom: 40px;
}

.list_brand {
    padding: 0px 5px 0 0;
    margin: 0;
    list-style-type: none;
}

.news_box_carousel,
.online_guide_box_carousel {
    padding: 0 5px 0 0;
}

.brand_li img {
    /*transition: linear .3s;*/
    /*width: 100%;*/
    display: block;
    margin: 0 auto;
    max-width: 100px;
    max-height: 46px;
}

.product_rating img {
    width: 16px;
    height: 15px;
    display: inline-block;
    float: left;
    max-height: inherit !important;
    min-height: auto !important;
}

.brand_li img:hover {
    transform: scale(1.3);
}

.brand_li {
    padding-left: 6px;
    padding-right: 6px;

    background: #fff;
    overflow: hidden;
    padding: 23px 0;
}

.brand_li:nth-child(n) {
    border-bottom: solid 2px #f5f5f5;
    border-right: solid 2px #f5f5f5;
}

.brand_li:nth-child(2n) {
    border-bottom: none;
}

.block_list_brand {
    overflow: hidden;
}

.block_list_brand .row {
    margin-left: -6px;
    margin-right: -6px;
}

.brand_block {
    margin-bottom: 40px;
}

.fb-page:before {
    display: table;
    content: '';
    background: '../images/240px-F_icon.svg.png';
    position: absolute;
    left: 0;
}

.news_product_list {
    padding:  0;
    /*border-top: solid 1px #ddd;*/
    /*border-bottom: solid 1px #ddd;*/

}

.news_product_list .product_box {
    background: #fff;
    border-right: 2px solid #f5f5f5;
}

.news_product_list .product_name {
    padding-left: 18px;
    padding-top: 0px;
    margin-bottom: 0px;
}

/*.news_product_block {*/
/*margin-bottom: 40px;*/
/*}*/

.news_block .row {
    margin-left: -6px;
    margin-right: -6px;
}

.news_box {
    /*padding-left: 6px;*/
    /*padding-right: 6px;*/
    margin-bottom: 12px;
    background: #ffffff;
    border-right: 2px solid #f5f5f5;
}

.news_box img {
    width: 100%;
}

.news_info {
    background: #ffffff;
    padding: 15px 17px;
}

.news_title a {
    font-family: Roboto-bold;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 10px;
    display: block;
    text-align: left;
}

.news_image img {
    max-height: 132px;
}

.mt-40 {
    margin-bottom: 40px;
}

.saleoff_block .row {
    margin-left: -6px;
    margin-right: -6px;
}

.saleoff_block .saleoff_container {
    /*padding: 0px 6px;*/
    background: #fff;
    min-height: 310px;
    max-height: 310px;
}

.container.main_content .row {
    margin: 0px;
}

.container.main_content .col-sm-9 {
    padding-right: 27px;
    padding-left: 0px;
}

.container.main_content,
.category_block.container {
    padding: 0px;
}

.saleoff_block .product_mask .product_price,
.saleoff_block .product_mask .product_name,
.saleoff_block .product_mask .product_name,
.saleoff_block .product_mask .product_rating,
.saleoff_block .product_mask .add_to_cart {
    padding: 10px 18px 10px 18px;
    margin-bottom: 0px;
}

.saleoff_block .product_mask {
    padding-top: 18px;
    left: -2px;
}

.saleoff_block .product_mask .product_name {
    padding-top: 0px;
    margin-bottom: 0px;
}

.saleoff_block .product_box {
    border-right: solid 2px #f5f5f5;
    padding: 18px;
    min-height: 310px;
    max-height: 310px;
}

.news_product_list .owl-stage-outer {
    /*padding: 32px 0px 28px 30px;*/
    /*margin-right: -30px;*/
    padding: 21px 0 27px 0;
}

.saleoff_carousel .owl-stage-outer {
    padding: 17px 0 30px 0px;
}

.product_thumb_wrapper {
    width: 70%;
    position: relative;
    text-align: center;
    margin: 0 auto;
}

.saleoff_carousel .product_mask .product_name {
    text-overflow: ellipsis;
    height: 26px;
}

.news_product_list .product_mask {
    /*left: -12px;*/
}

.news_product_list {
    /*margin: -50px 0 0 -31px;*/
}

.saleoff_carousel {
    /*margin: -33px 0 0 -31px;*/
}

.saleoff_carousel .product_mask .product_rating,
.saleoff_carousel .product_mask .product_name,
.saleoff_carousel .product_mask .product_price {
    margin-bottom: 0px;
    padding-bottom: 10px;
}

.sidebar_box {
    padding: 15px 12px 0 12px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    background: #fff;
}

.single-product-page .sidebar_box:first-child {
    border-top: solid 6px #eaeaea;
}

.sidebar_title {
    height: 26px;
    line-height: 21px;
    font-family: Roboto-Regular;
    font-size: 20px;
    text-transform: none;
    margin-bottom: 10px;
    color: #5c5c5c;
    font-weight: bold;
}

.news_product_list .btn_order,
.saleoff_container .btn_order{
    border-radius: 3px;
    background-color: #ffe17f;
    width: 181px;
    height: 48px;
    font-size: 16px;
    font-family: Roboto-bold;
    border: none;
    margin: 0 auto;
}

.news_product_block.saleoff_block{
    position: relative;
}

.saleoff_container .add_to_cart{
    text-align: center;
    margin-bottom: 17px;
}


.sidebar_product {
    margin-bottom: 0px;
    border-bottom: solid 1px #cccccc;
    padding-top: 10px;
}

.sidebar_content .sidebar_product:last-child{
    border-bottom: none;
}


.sidebar_content p {
    margin-bottom: 15px;
}

.sidebar_content img {
    margin-bottom: 9px;
}

.sidebar_content .sidebar_product:last-child {
    border: none;
    padding-bottom: 0px;
}

.sidebar_product_name {
    font-size: 14px;
    padding-top: 12px;
    padding-bottom: 3px;
    font-family: Roboto-regular;
    text-align: left;
}

.sidebar {
    padding: 0 3px;
}

.sidebar_product_price {
    font-family: Roboto-bold;
    font-weight: 600;
    font-size: 16px;
    color: #333;
}

.list_support {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.list_support li {
    display: inline-block;
    margin: 0 5px;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    background: #dddddd;
}

.support_email {
    font-family: Roboto-regular;
    font-size: 15px;
}

.support_hotline {
    font-size: 14px;
    padding-top: 6px;
}

.list_social {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.list_social li {
    border-right: solid 1px #f5f5f5;
    border-bottom: solid 1px #f5f5f5;

    border-left: none;
    height: 110px;
}

.list_social li:nth-child(3),
.list_social li:nth-child(4) {
    border-bottom: none;
}

.list_social li:nth-child(2),
.list_social li:nth-child(4) {
    border-right: none;
}

.social_box {
    border-right: none;
    border-top: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.social_box img {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.footer_logo {
    margin-bottom: 23px;
}

.footer_comp_info {
    text-align: left;
    margin-bottom: 23px;
    color: #9c9c9c;
    font-family: Roboto-regular;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    max-width: 204px;
}

.footer {
    background: #000000;
    margin-top: 30px;
    color: #90969a;
    padding-top: 64px;
}

.footer .footer_social .social_item {
    float: left;
    font-size: 24px;
    margin-right: 24px;

}

.footer a {
    color: #666666;
}

.footer a:hover {
    color: #fff;
}

.footer_box_title {
    font-family: Roboto-Bold;
    font-size: 15px;
    color: #ffffff;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.first_footer_col {
    color: #fff;
}

.footer_box_content ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer_box_content ul li {
    margin-bottom: 10px;
}

.footer_copyright {
    height: 70px;
    line-height: 70px;
    /*border-top: solid 1px #4d4d4d;*/
    margin-top: 30px;
}

.banner .owl-carousel .owl-stage-outer {
    height: 310px;
    overflow: hidden;
}

.banner .owl-prev {
    position: absolute;
    width: 396px;
    height: 310px;
    background: rgba(0, 0, 0, 0.5) url(../images/owl-prev.png) no-repeat center center !important;
    top: 0px;
    left: 0px;
    margin: 0 !important;
    outline: none;
    text-indent: -9999px;
}

.banner .owl-next {
    position: absolute;
    width: 396px;
    height: 310px;
    background: rgba(0, 0, 0, 0.5) url(../images/owl-next.png) no-repeat center center !important;
    top: 0px;
    right: 0px;
    margin: 0 !important;
    outline: none;
    text-indent: -9999px;
}

.slide_product_carousel .owl-prev {
    position: absolute;
    top: 50%;
    left: 0px;
    width: 36px;
    height: 54px !important;
    line-height: 54px !important;
    color: #cccccc !important;
    text-align: center;
    font-size: 30px !important;
    border: solid 1px #ddd !important;
    border-radius: 0px 4px 4px 0px !important;
    background: #fff !important;
    margin: 0px !important;
    margin-top: -27px !important;
    outline: none;
}

.slide_product_carousel .owl-next {
    position: absolute;
    top: 50%;
    right: 6px;
    width: 36px;
    height: 54px !important;
    line-height: 54px !important;
    color: #cccccc !important;
    text-align: center;
    font-size: 30px !important;
    border: solid 1px #ddd !important;
    border-radius: 4px 0px 0px 4px !important;
    background: #fff !important;
    margin: 0px !important;
    margin-top: -27px !important;
    outline: none;
}

.slide_product_carousel .owl-nav.disabled {
    /*display: block;*/
}

.has_carousel_nav {
    position: relative;
}

.carousel_pre {
    width: 36px;
    height: 36px;
    /*border: solid 1px #ddd;*/
    line-height: 32px;
    text-align: center;
    position: absolute;
    right: 35px;
    top: 0px;
    cursor: pointer;
    z-index: 10;
}

.carousel_next {
    width: 36px;
    height: 36px;
    /*border: solid 1px #ddd;*/
    line-height: 32px;
    text-align: center;
    position: absolute;
    right: 0px;
    top: 0px;
    cursor: pointer;
    z-index: 10;
}

.carousel_box .btn-disable {
    display: none;
}

.carousel_box .btn-able {
    display: block;
}
.carousel_next:hover .btn-able,
.carousel_pre:hover .btn-able {
    display: none;
}
.carousel_next:hover .btn-disable,
.carousel_pre:hover .btn-disable{
    display: block;
}



.product_box img {
    transition: linear .3s;
    margin-bottom: 10px;
    max-height: 140px;
    min-height: 140px;
}

/*.product_box:hover img {*/
/*transform: scale(1.1, 1.1);*/
/*}*/

.about_gallery_list {
    margin-left: -6px;
    margin-right: -6px;
}

.about_gallery_item {
    width: 20%;
    padding: 0 6px;
    float: left;
    margin-bottom: 12px;
    min-height: 113px;
    max-height: 113px;
}

.about_title {
    font-family: Roboto-light;
    font-size: 30px;
    margin-bottom: 20px;
    color: #333;
}

.about_descriptions {
    font-family: Roboto-regular;
    font-size: 14px;
    line-height: 22px;
    text-align: left;
    color: #333333;
}

.breadcrumb {
    background: #f5f5f5;
    padding-left: 0px;
    text-transform: uppercase;
    color: #5c5c5c;
    padding-top: 10px;
    padding-bottom: 0px;
    font-size: 14px;
    font-family: Roboto-regular;
}

.about_content_top {
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 1.64;
    font-family: Roboto-regular;
}

.about_content_top .about_director {
    margin-top: 10px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.filter_brand label {
    padding-left: 0px;
    font-family: Roboto-regular;
}

.price_to_input,
.price_from_input {
    text-align: right;
    background: #fff !important;
    border-right: none;
    padding-right: 0px;
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}

.footer_social {
    max-width: 204px;
    text-align: center;
}

.footer_social:after {
    display: table;
    content: '';
    clear: both;
}

.remove_filter_attr {
    text-align: center;
    text-decoration: underline;
    font-family: Roboto-regular;
    font-size: 14px;
    color: #777777;
    padding: 7px 0 9px 0;
    border-top: solid 2px #cccccc;
    line-height: 19px;
}

.frm_filter_product .sidebar_box {
    padding-bottom: 0px;
}

.frm_filter_product .sidebar_title{
    font-family: Roboto-bold;
    font-size: 14px;
}

.frm_filter_product .special_title{
    font-size: 20px;
}

.support_box{
    padding-bottom: 20px;
}

.remove_filter_attr:hover {
    cursor: pointer;
}

.footer_social .social_item {
    text-align: center;
}

.filter_price .input-group-addon {
    background: #fff;
    padding-left: 5px;
}

.btn_checkout {
    width: 400px;
    max-width: 100%;
    height: 80px;
    line-height: 80px;
    border-radius: 5px;
    background-image: linear-gradient(to bottom, #f8b71e, #ffcc52);
    border: solid 1px #dc9d0f;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    color: #000000;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.banner .owl-carousel .owl-stage-outer {
    height: 350px;
    overflow: hidden;
}

.banner .owl-prev {
    position: absolute;
    width: 25vw;
    height: 350px;
    background: rgba(0, 0, 0, 0.5) url(../images/owl-prev.png) no-repeat center center !important;
    top: 0px;
    left: 0px;
    margin: 0 !important;
    outline: none;
    text-indent: -9999px;
    transition: linear .2s;
}

.banner .owl-prev:hover {
    background: transparent url(../images/owl-prev.png) no-repeat center left 45% !important;
}

.banner .owl-next {
    position: absolute;
    width: 25vw;
    height: 350px;
    background: rgba(0, 0, 0, 0.5) url(../images/owl-next.png) no-repeat center center !important;
    top: 0px;
    right: 0px;
    margin: 0 !important;
    outline: none;
    text-indent: -9999px;
    transition: linear .2s;
}

.banner .owl-next:hover {
    background: transparent url(../images/owl-next.png) no-repeat center right 45% !important;
}

.shopping_cart_container .btn_checkout {
    width: 268px;
    height: 50px;
    border-radius: 5px;
    background-image: linear-gradient(to bottom, #f8b71e, #ffcc52);
    border: solid 1px #dc9d0f;
    font-family: Roboto-regular;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    line-height: 50px;
}

.shopping_cart_container thead tr th {
    font-family: Roboto-italic;
    font-size: 14px;
    line-height: 19px;
    color: #929292;
}

#dropdownMenuButton:before {
    display: table;
    content: '';
    background: url(../images/tags.png) center no-repeat;
    width: 13px;
    height: 8px;
    position: absolute;
    top: 37px;
    left: 42%;
    display: none;
}

.dropdown.open #dropdownMenuButton:before {
    display: block;
}

.header_main .header_logo img {
    height: 34px;
}

.btn_checkout:hover, .btn_checkout:focus {
    color: #000000;
    text-decoration: none;
}

.shopping_cart_container table thead tr th {
    font-size: 14px;
    font-family: Roboto-italic;
    color: #999999;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    vertical-align: middle;
}

.cart_price {
    font-family: Roboto-regular;
    font-size: 20px;
    font-weight: bold;
}

.cart_total_container {
    margin-top: 21px;
    padding-top: 10px;
    border-top: solid 3px #333;
}

.s_total {
    font-family: Roboto-black;
    font-size: 28px;
    line-height: 37px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #333333;
}

.cart_empty_image {
    margin-bottom: 20px;
}

.cart_empty_note {
    margin-bottom: 20px;
    font-family: Roboto-regular;
    color: #000;
    line-height: 19px;
}

.cart_empty_button {
    width: 240px;
    height: 60px;
    background-color: #ffffff;
    border: solid 1px #cccccc;
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    line-height: 60px;
    font-size: 14px;
    font-family: Roboto-regular;
    font-weight: bold;
    text-transform: uppercase;
}

.cart_empty_button a:hover {
    color: #000;
}

.form-control {
    border-radius: 0px;
    background: #f4f4f4;
    box-shadow: none;
}

.payment_type_list {
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    border: solid 1px #ddd;
    list-style: none;
}

.payment_type_list li {
    border-bottom: solid 1px #ddd;
    padding: 15px;
}

.payment_type_list li:last-child {
    border-bottom: none;
}

.payment_type_list li img {
    margin-bottom: 15px;
}

.checkout_cart {
    background: #fafafa;
    border: solid 1px #cccccc;
}

.table.woocommerce-checkout-review-order-table {
    padding: 8px 19px 0px 21px;
}

.table.woocommerce-checkout-review-order-table .sidebar_title {
    padding-top: 8px;
    font-family: Roboto-black;
    font-size: 24px;
    font-weight: 900;
    color: #333;
    margin-bottom: 20px;
    line-height: 32px;
}

.table.woocommerce-checkout-review-order-table .cart_row {
    margin-bottom: 6px;
    font-size: 14px;
    font-family: Roboto-regular;
}

.table.woocommerce-checkout-review-order-table .cart_row:last-child {
    margin-bottom: 0px;
}

.table.woocommerce-checkout-review-order-table .woocommerce-Price-amount.amount {
    float: right;
}

.table.woocommerce-checkout-review-order-table .order-total {
    border-top: solid 1px #cccccc;
    border-bottom: solid 1px #cccccc;
    margin-top: 19px;
    padding-bottom: 11px;
    padding-top: 9px;
    font-family: Roboto-black;
    font-size: 20px;
    font-weight: 900;
}

.table.woocommerce-checkout-review-order-table .order-commit {
    padding: 11px 0 0 0;
    font-family: Roboto-regular;
    font-size: 14px;
}

.checkout_price {
    font-size: 17px;
}

.contact_box {
    background: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contact_item {
    font-size: 18px;
    font-family: Roboto-Bold;
    margin-bottom: 15px;
    margin-left: 20px;
}

.contact_item i {
    font-size: 20px;
    width: 25px;
}

.contact_item i.fa-mobile {
    font-size: 30px;
}

.table_order {
    margin-top: 20px;
    margin-bottom: 30px;
}

.cus_title {
    font-family: Roboto-Bold;
    font-size: 14px;
}

.cus_info_row {
    margin-bottom: 15px;
}

.our_channer_container {
    border-top: solid 1px #ddd;
    padding-top: 50px;
}

.channel_image {
    margin: 40px;
    float: left;
}

.channel_name {
    font-family: Roboto-Bold;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.channel_box {
    min-height: 138px;
    max-height: 138px;
    background-color: #fafafa;
    border: solid 1px #cccccc;
    padding-top: 0px;
}

.btn_cart {
    font-family: Roboto-Regular;
    text-transform: uppercase;
    cursor: pointer;
}

.header_cart_dropdow {
    width: 300px;
    padding: 0;
    margin: 0;
    border-radius: 0px 0px 4px 4px;
    margin-top: 17px;
    padding-top: 15px;
    margin-left: -233px;
    border: solid 1px #ddd;
    max-height: 300px;
    overflow: scroll;
}

.header_cart_image {
    width: 80px;
    float: left;
    padding: 10px;
}

.header_cart_info {
    line-height: 20px;
}

.header_cart_quantity {
    color: #999999;
}

.header_cart_price {
    font-family: Roboto-Black;
    font-size: 18px;
}

.header_cart_item {
    margin-bottom: 10px;
}

.header_cart_empty {
    padding: 0 20px 16px;
    text-align: left;
    line-height: 20px;
}

.header_cart_view {
    height: 60px;
    background-color: #f4f4f4;
    text-align: center;
    padding-top: 8px;
    border-radius: 0px 0px 4px 4px;
}

.header_cart_view a:hover {
    color: #333;
}

.header_cart_button {
    width: 260px;
    height: 44px;
    border-radius: 5px;
    background-image: linear-gradient(to bottom, #f8b71e, #ffcc52);
    border: solid 1px #dc9d0f;
    font-size: 20px;
    font-family: Roboto-regular;
    font-weight: bold;
    display: block;
    margin: 0 auto;
    line-height: 40px;
}

.ul_paginate {
    margin: 0px;
    padding: 0px;
    list-style: none;
    margin-top: 30px;
}

.ul_paginate li {
    display: inline-block;
    margin-left: 10px;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    border: solid 1px #cccccc;
}

.ul_paginate li.active {
    border: solid 1px #333;
}

.ul_paginate li a {
    width: 100%;
    height: 100%;
    display: block;
}

.new_arrival_list {
    margin-top: 50px;
    margin-bottom: 50px;
}

.new_arrival_box {
    border: solid 1px #dbe0e2;
    margin-bottom: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.new_arrival_name {
    margin-bottom: 15px;
}

.new_arrival_name a {
    font-size: 18px;
}

.new_arrival_description {
    margin-bottom: 15px;
}

.new_arrival_status {
    font-family: Roboto-bold;
    color: #29b455;
}

.new_arrival_price {
    font-family: Roboto-Black;
    color: #a07656;
    font-size: 17px;
    text-align: right;
    margin-bottom: 70px;
}

.hot_best_sale_top {
    padding-top: 20px;
    padding-bottom: 15px;
}

.hot_best_sale_price {
    font-family: Roboto-Black;
    font-size: 17px;
    color: #a07656;
}

.hot_best_sale_image img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.hot_best_sale_number {
    text-align: center;
}

.hot_best_sale_name {
    text-align: center;
    font-size: 20px;
}

.brand_description {
    margin-bottom: 30px;
}

.product_type_top {
    height: 166px;
    background: #000 url('../images/product_type_top_bg.png') no-repeat center right;
    color: #ffffff;
    margin-bottom: 40px;
    padding-left: 15px;
    background-size: cover;
}

.product_type_top a {
    color: #ffffff;
}

.product_type_top .breadcrumb {
    background: transparent;
}

.product_type_title {
    font-family: Roboto-Light;
    font-size: 32px;
    margin-bottom: 10px;
}

.product_type_menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.product_type_menu li {
    display: inline-block;
    margin-right: 20px;
}

.lh34 {
    line-height: 34px;
}

.product_title_block h1 {
    font-family: Roboto-light;
    font-size: 30px;
    line-height: 44px;
    color: #333333;
    margin: 0;
    padding: 0;
}

.product_title_block {
    margin-bottom: 20px;
}

.product_title_block .product_brand img {
    max-width: 165px;
    float: right;
}

.product_main_image {
    position: relative;
}

.product_main_image img {
    margin-left: auto;
    margin-right: auto;
    min-height: 400px;
    max-height: 400px;
}

.product_thumb {
    margin-top: 20px;
    margin-bottom: 54px;
    position: relative;
}

.product_thumb_expand {
    position: absolute;
    width: 96px;
    height: 20px;
    border: solid 1px #ddd;
    bottom: -19px;
    left: 50%;
    margin-left: -48px;
    text-align: center;
    color: #888;
    cursor: pointer;
    display: none;
}

.product_thumb_item {
    float: left;
    padding: 8px;
    border: solid 1px #ddd;
    margin-top: -1px;
    /*margin-left: -1px;*/
    cursor: pointer;
    background-color: #fff;
}

.product_thumb_item:hover {
    border: 1px solid #4cb2fc;
}

.product_thumb_item.active {
    border: solid 1px #000000;
}

.product_thumb_item img {
    width: 64px;
    height: 64px;
}

.product_thumb_list {
    height: 84px;
    padding-top: 3px;
    padding-left: 19px;
    overflow: hidden;
    transition: height .3s;
}

.product_thumb_list.active {
    transition: height .3s;
    height: auto;
}

.product_content_title {
    font-family: Roboto-regular;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
    margin-bottom: 15px;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.product_content_detail {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 40px;
    font-size: 14px;
    text-align: justify;
    line-height: 21px;
    font-family: Roboto-regular;
}

.product_content_detail td {
    font-size: 16px;
    font-family: Roboto-regular;
    line-height: 21px;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #fff;
}

.relate_product_title {
    font-size: 24px;
    margin-bottom: 10px;
}

.product_main_zoom {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0;
    bottom: 0;
    background: url(../images/icon_zoom.png) no-repeat center center;
    background-size: 28px;
    cursor: pointer;
}

.sidebar_product_title {
    font-family: Roboto-regular;
    font-size: 13px;
    margin-bottom: 10px;
    margin-top: 14px;
    text-align: center;
    color: #333333;
    line-height: 18px;
    padding-bottom: 5px;
    border-bottom: solid 2px #cccccc;
}

.sidebar_product_detail_price {
    font-family: Roboto-Black;
    font-size: 24px;
    color: #a07656;
    text-align: center;
}

.sidebar_product_ship {
    font-size: 12px;
    text-align: center;
}

.sidebar_product_care {
    font-family: Roboto-Bold;
    text-align: center;
    margin-bottom: 10px;
}

.sidebar_product_status {
    font-family: Roboto-Medium;
    text-align: center;
    font-size: 16px;
    color: #29b455;
    margin-bottom: 20px;
}

.sidebar_product_order {
    margin-bottom: 30px;
}

.sidebar_product_order .form-control {
    height: 50px;
    border-radius: 3px 0px 0px 3px;
}

.sidebar_product_order .input-group-addon {
    padding: 0;
    border: 0px;
    margin: 0px;
    background: transparent;
}
.rightsidebar_not_shop,
.rightsidebar {
    width: 318px;
    height: 100%;
    position: fixed;
    right: -330px;
    top: 55px;
    background: #f0f0f0;
    z-index: 11 !important;
    -webkit-box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.1);
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.btn_order {
    width: 170px;
    height: 50px;
    background-image: linear-gradient(to bottom, #f8b71e, #ffcc52);
    border: solid 1px #dc9d0f;
    font-size: 17px;
    font-family: Roboto-Bold;
    border-radius: 0px 3px 3px 0px;
    margin-left: -1px;
    color: #333333;
}
.rightsidebar_not_shop.active,
.rightsidebar.open {
    right: 0;
    display: block;
}

.sidebar_product_gift {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.sidebar_product_gift li {
    margin-bottom: 19px;
    background: url('../images/icon_check.png') no-repeat center left;
    background-size: 20px;
    padding-left: 30px;
    font-size: 14px;
}

.share_box {
    margin-bottom: 25px;
    text-align: center;
}

.share_box_image img {
    width: 36px;
    margin-left: auto;
    margin-right: auto;
}

.color_box {
    /*width: 36px;*/
    /*height: 36px;*/
    /*border-radius: 50%;*/
    /*background: #ddd;*/
    cursor: pointer;
}

.archive_page .list_product_slide .product_box {
    width: 25%;
}

.product_image {
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}

.product_image .saleoff_percent {
    width: 40px;
    height: 40px;
    background-image: linear-gradient(146deg, #ff6a00, #ee0979);
    border-radius: 50%;
    font-family: Roboto-SemiboldItalic;
    color: #ffffff;
    font-style: italic;
    text-align: center;
    line-height: 40px;
    position: absolute;
    top: 0;
    right: 10px;
}

.audio_play {
    width: 100%;
}

.product_sound_list {
    background: #fafafa;
    padding: 15px 10px;
}

.product_sound_list_more {
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
}

.table_sound_container {
    /*height: 210px;*/
    height: auto;
    overflow: hidden;
}

.table_sound_container.active {
    height: auto;
}

.table_sound tr.active td {
    background: #ddd !important;
}

#billing_last_name_field {
    width: 100%;
}

#billing_city_field {
    width: 50%;
    float: left;
}

#billing_address_2_field {
    width: 50%;
    clear: none;
    float: right;
}

.navbar {
    z-index: 999;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
}

.sidebar_policy img {
    max-width: 100px;
}

.product_info_right .btn_order {
    width: 216px;
    height: 48px;
    margin-bottom: 12px;
    background: #ffe17f;
    border-radius: 3px;
    border: none;
    display: none;
    line-height: 39px;
}

/* edit .header-logo */
.header_logo {
    display: inline-block;
    clear: left;
    padding: 19px 0;
}

.menu_left {
    padding: 8px 0 0;
}

.product_content {
    background: #ffffff;
}

.customer_info_box {
    background: #fafafa;
    border: 1px solid #cccccc;
}

.page_container,
.err_page,
.about_page, .contact_page {
    margin-top: 114px;
}

.commit_policy .title {
    margin-top: 0px;
}

@media (max-width: 767px) {
    .policy_block {
        height: auto;
        margin-top: 0;
        margin-bottom: 0;
    }

    .rightsidebar_not_shop .frm_search{
        width: 100%;

    }

    .rightsidebar_not_shop input{
        height: 40px;
    }

    .rightsidebar_not_shop .btn_search{
        right: 0px;
        padding: 0px;
        left: inherit;
    }

    .policy_block.container {
        width: 100%;
    }

    .policy_block .policy_box:nth-child(4) {
        display: none;
    }

    .policy_box {
        padding-left: 0;
        margin-bottom: 20px;
    }

    .list_category li:hover {
        transform: none;
        box-shadow: none;
        border: none;
    }

    .main_content {
        padding: 0px;
    }

    .container,
    .footer-responsive .container,
    .block_container.container,
    .main_content.container {
        width: 100%;
        margin-top: 0px!important;
    }

    .list_product_responsive .product_box,
    .category_block_responsive .list_category li {
        padding: 4px 10px;
        min-height: 68px;
        max-height: 68px;
        border-top: solid 1px #f5f5f5;
        border-left: 1px solid #f5f5f5;
    }

    .category_block_responsive .list_category li:last-child{
        border-bottom: 1px solid #f5f5f5;
    }

    .single-product-page .relate_product_list .product_box,
    .single-product-page .relate_product_list .product_name,
    .single-product-page .relate_product_list .product_image {
        padding: 0px;

    }

    .single-product-page .relate_product_list .product_box {
        border-top: 1px solid #eaeaea;
        padding: 4px 0;
    }

    .single-product-page {
        padding: 0 10px;
    }

    .single-product-page .relate_product_list .product_image img {
        width: 60px;
        height: 60px;
        max-height: 60px;
        min-height: 60px;
    }

    .category_block_responsive .list_category img {
        width: 60px;
        height: 60px;
    }

    .block_title_responsive {
        padding: 0 16px;
        margin-bottom: 12px;
    }

    .block_title_responsive,
    .hot_product_block_responsive .block_title,
    .category_block_responsive .block_title {
        font-size: 16px;
        font-family: Roboto-regular;
        line-height: 21px;
        padding-left: 10px;
    }

    .category_block_responsive .category_name {
        text-align: left;
        line-height: 19px;
        font-size: 14px;
        font-family: Roboto-regular;
        padding: 25px 0 24px 0;
    }

    .list_product_responsive .right_angle,
    .category_block_responsive .right_navigation {
        position: absolute;
        top: 24px;
        right: 11px;
    }

    .relate_product_list .right_angle .fa-angle-right,
    .list_product_responsive .right_angle .fa-angle-right,
    .category_block_responsive .right_navigation .fa-angle-right {
        font-size: 14px;
        color: #bcbcbc;
    }

    .relate_product_list .right_angle .fa-angle-right {
        position: absolute;
        right: 13px;
        top: 27px;
    }

    .product_main_image img {
        width: 272px;
        height: 163px;
        min-height: 163px;
        max-height: 163px;
    }

    .category_block_responsive .category_image {
        margin-right: 14px;
    }

    .list_product_responsive {
        list-style: none;
        padding: 0px;
        margin: 0 15px;
    }

    .block_list_brand{
        /*margin: 0 15px;*/
    }

    .stock_status{
        padding-left: 15px;
        font-size: 12px;
        text-align: left;
        color: #479513;
        font-family: Roboto-regular;

    }

    .list_product_responsive .product_info_right,
    .list_product_responsive .product_box.product_20p,
    .list_product_responsive .product_image {
        padding: 0px 10px;
    }

    .list_product_responsive .product_box img {
        max-height: 60px;
        min-height: 60px;
        margin-bottom: 0px;
    }

    .online_guide_box .news_box {
        padding: 0px;
        margin-bottom: 20px;
    }

    .online_guide_box {
        padding: 0 16px;
    }

    .online_guide_box .news_box:nth-child(n) {
        padding-right: 4px;
    }

    .online_guide_box .news_info {
        padding: 6px 0 20px 0;
    }

    .online_guide_box .news_title a {
        font-family: Roboto-regular;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #333333;
        padding: 0px 5px;
        line-height: 17px;
    }

    .list_product_responsive .product_name {
        text-align: left;
        padding-left: 0px;
        padding-top: 4px;
        margin-bottom: 2px;
    }

    .sidebar {
        display: none;
    }

    .news_block.mt-40 {
        margin-bottom: 0px;
    }

    .policy_image {
        display: block;
        margin: 0 auto;
        float: none;
        width: 52px;
    }

    .policy_image img {
        height: 55px;
    }

    .banner {
        height: auto;
    }

    .banner .owl-carousel .owl-stage-outer {
        height: auto;
    }

    .banner .owl-prev {
        height: auto;
    }

    .banner .owl-nav {
        display: none;
    }

    .banner_image {
        height: 200px;
        overflow: hidden;
    }

    .ul_block_tab li {
        width: 100%;
        margin-top: 10px;
    }

    .news_description {
        display: none;
    }

    .navbar-inverse .navbar-nav > li > a {
        text-transform: uppercase;
    }

    .ul_paginate {
        margin-bottom: 15px;
        margin-top: 15px;
    }

    .product_sound_list {
        margin-bottom: 20px;
    }

    .shopping_cart_container {
        margin-bottom: 30px;
    }

    .cart_price {
        font-size: 12px;
    }

    .cart_product_name {
        width: 150px;
    }

    .cart_product_quantity {
        width: 80px;
    }

    .cart_product_price {
        width: 100px;
    }

    .s_total {
        font-size: 14px;
        text-align: left;
    }

    .support_box table {
        width: 80%;
    }

    .cart_total_responsive .woocommerce-Price-amount {
        font-size: 16px;
        font-family: Roboto-bold;
    }

    .product_title_block h1 {
        font-size: 18px;
        font-family: Roboto-light;
        line-height: 24px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
    }

    .sidebar_product_order .btn_order {
        width: 100px;
        height: 44px;
        float: left;
        margin-bottom: 5px;
    }

    .sidebar_product_order .btn_order .fa-shopping-cart {
        font-size: 27px;
    }

    .contact_order h1 {
        font-family: Roboto-regular;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #333333;
        line-height: 21px;
    }

    .product_id_name {
        color: #999999;
    }

    .shopping_cart_container .btn_checkout.btn_checkout_responsive {
        width: 182px;
        height: 46px;
        border-radius: 3px;
        border: solid 1px #dc9d0f;
        font-family: Roboto-regular;
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #000000;
        line-height: 46px;
    }

    .product_content .product_info .treeview {
        padding: 0 16px;
    }

    .product_content .product_info .fa-plus {
        color: #adadad;
    }

    .treeview > .ul_item.menu-open {
        display: block;
        position: relative;
    }

    #payment .sidebar_title {
        height: auto;
    }

    .single-product-page .breadcrumb {
        display: none;
    }

    .list_product_slide .product_box:nth-child(2n+1) {
        clear: left;
    }

    .list_product_slide .product_box:nth-child(5n+1) {
        clear: none;
    }

    .single-product-page .sidebar_box:first-child {
        border: none;
    }

    body {
        background: #fff;
    }

    .product_brand {
        display: none;
    }

    .product_main_image {
        display: block;
        margin: 0 auto;
        padding: 0 35px;
    }

    .product_thumb_item {
        display: none;
    }

    .product_thumb_list {
        height: auto;
    }

    .sidebar_product_detail_price {
        line-height: 30px;
        font-size: 24px;
        font-family: Roboto-regular;
        font-weight: bold;
        color: #333333;
        text-align: left;
    }

    .sidebar_product_status {
        text-align: left;
        line-height: 18px;
        font-family: Roboto-regular;
        font-size: 13px;
    }

    .product_price {
        font-size: 16px;
        font-family: Roboto-regular;
        font-weight: bold;
        line-height: 21px;
        color: #333;
        text-align: left;
    }

    .product_name {
        text-align: left;
        font-size: 14px;
        line-height: 19px;
        font-family: Roboto-regular;
        color: #333;
        padding-left: 15px;

    }

    .single-product-page .sidebar_box {
        display: none;
    }

    .footer_copyright_responsive {
        line-height: 16px;
        font-family: Roboto-regular;
        font-size: 12px;
        color: #5c5c5c;
        padding-top: 10px;
        padding-bottom: 12px;
    }

    .footer-responsive {
        background: #e5e5e5;
        padding-left: 18px;
        padding-right: 18px;
        padding-top: 24px;
    }

    .footer-responsive .row{
        margin: 0px;
    }

    .footer_box_title {
        font-size: 14px;
        line-height: 1.5px;
        color: #5c5c5c;
        margin-top: 30px;
    }

    .info_box {
        padding: 10px 0px 9px 0px;
        margin: 0px 0 8px 0;
        border-radius: 3px;
        border: 1px solid #cccccc;
        color: #5c5c5c;
    }

    .info_box .fa-phone,
    .info_box .fa-envelope {
        font-size: 26px;
        position: absolute;
        left: 12px;
        top: 7px;
    }

    .info_box .fa-envelope {
        font-size: 23px;
    }

    .navbar-toggle {
        float: left;
        margin-left: 2px;
        border: none;
        margin-right: 0px;
        padding-right: 13px;
    }

    .res_icon {
        padding-left: 0px;
        padding-bottom: 13px;
        max-width: 144px;
    }

    .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
        background-color: inherit;
    }

    .sidebar_product_care,
    .sidebar_product_ship {
        text-align: left;
        font-size: 13px;
        font-family: Roboto-regular;
        margin-bottom: 0px;
    }

    .relate_product {
        margin-bottom: 60px;
    }

    .responsive_box img {
        display: block;
        margin: 0 auto;
        vertical-align: middle;
    }

    .responsive_box {
        border: solid 1px #cccccc;
        padding: 6px 0;
        margin-top: 14px;
        border-radius: 2px;
        height: 48px;
        margin-right: 16px;

        width: 30%;
        float: left;
    }

    .responsive_rows .responsive_box:last-child {
        margin-right: 0px;
        margin-left: 0px;
    }

    .commit_policy .title{
        font-size: 21px;
    }

    #dropdownMenuButton:before{
        top: 59px;
    }



    .footer-responsive .footer_comp_info {
        margin-top: 30px;
        font-size: 14px;
        line-height: 21px;
        color: #5c5c5c;
        margin-bottom: 10px;
        text-align: center;
        max-width: 100%;
    }
    .brand_li:nth-child(2n){
        border-bottom: solid 2px #f5f5f5;
        border-right: solid 2px #f5f5f5;
    }

    .block_list_brand > .row{
        margin-right: 0px!important;
    }

    .brand_li:nth-child(2n+1){
        clear: left;
    }

    .container.main_content .col-sm-9{
        padding-right: 0px;
    }

    .responsive_rows {
        padding: 0px;
    }

    .breadcrumb {
        display: none;
    }

    .header_cart {
        margin-top: 0px;
        margin-right: 10px;

    }

    .commit_policy {
        width: auto;
        margin-bottom: 10px;
        left: 0;
    }
    .online_guide_box .view_all,
    .hot_product_block_responsive .view_all {
        line-height: 16px;
        font-size: 13px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #333333;
        text-decoration: underline;
        text-transform: none;
        font-family: Roboto-regular;
    }

    .about_title {
        font-family: Roboto-regular;
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: left;
        color: #333333;
        line-height: 24px;
        margin-bottom: 14px;
    }

    .status_remain {
        color: #479513;
    }

    .woocommerce .quantity .qty {
        float: right;
        width: 46px;
        height: 26px;
        text-align: left;
    }

    .cart_product_name,
    .cart_product_price {
        padding: 0px;
    }

    .cart_item {
        border-bottom: solid 1px #cccccc;
        margin-bottom: 10px;
    }

    .cart_total_container {
        border-top: none;
        margin-top: 10px;
    }

    .cart_table_responsive .img_thumbnail_cart img {
        width: 60px;
        height: 60px;
    }

    .cart_table_responsive .cart_price {
        color: #929292;
    }

    .cart_table_responsive .img_thumbnail_cart {
        float: left;
        margin-right: 6px;
    }

    .cart_table_responsive .right_thumb_cart {
        float: left;
    }

    .cart_table_responsive .remove_items {
        clear: both;
        margin-bottom: 12px;
    }

    .cart_table_responsive .cart_product_price .woocommerce-Price-amount {
        line-height: 21px;
        font-family: Roboto-regular;
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: right;
        color: #333333;
    }

    .ship_location {
        margin-left: 0px;
        width: 256px;
        height: 28px;
    }

    .total_product {
        font-size: 16px;
    }

    .btn_call, .btn_email {
        border-radius: 3px;
        height: 36px;
        border: solid 1px #cccccc;
        background: linear-gradient(#f7f8fa, #eaecef);
        text-align: center;
        line-height: 36px;
        margin-bottom: 4px;
        width: 272px;
    }

    .btn_call:before {
        display: table;
        content: "\f095";
        font-family: FontAwesome;
        position: absolute;
        font-size: 20px;
        left: 33px;
    }

    .list_sub_filter .color_box {
        margin-right: 20px;
        margin-bottom: 10px;
        margin-left: 15px;
    }

    .btn_email:before {
        display: table;
        content: "\f003";
        font-family: FontAwesome;
        position: absolute;
        font-size: 20px;
        left: 33px;
    }

    ul.product_info ul,
    ul.product_info {
        list-style: none;
        padding: 0px;
        margin: 0px;
    }

    ul.product_info ul span {
        padding: 0px;
    }

    .ul_item {
        display: none;
        transition: linear .3s;
    }

    .treeview {
        position: relative;
        margin: 0;
        padding: 0;
        /*height: 51px;*/
        border-top: solid 1px #cccccc;
        line-height: 51px;
        font-family: Roboto-regular;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: left;
        color: #333333;
    }

    .filter_block .icheckbox_minimal {
        margin-right: 10px;
    }

    .order_result_container .table_order {
        display: none;
    }

    .archive_page .list_product_slide .product_box {
        width: 50%;
        min-height: 239px;
        max-height: 239px;
    }

    .archive_page .list_product_slide .product_box .product_image img {
        width: 110px;
        height: 110px;
        max-height: 110px;
        min-height: 110px;
    }

    .archive_page .product_rating {
        margin-bottom: 0px;
    }

    .archive_page .product_name {
        margin-bottom: 4px;
        text-align: left;
        clear: left;
        padding-top: 0px;
    }

    .archive_page .product_price {
        text-align: right;
        padding-right: 15px;

    }

    .customer_info_box_responsive {
        padding: 0px;
    }

    .customer_info_box_responsive #billing_last_name_field:before {
        display: table;
        content: 'Họ và tên';
        font-size: 12px;
        color: #333333;
        line-height: 16px;
        margin-bottom: 3px;
    }

    .customer_info_box_responsive #billing_phone_field:before {
        display: table;
        content: 'Số Điện Thoại';
        font-size: 12px;
        color: #333333;
        line-height: 16px;
        margin-bottom: 3px;
    }

    .customer_info_box_responsive #billing_email_field:before {
        display: table;
        content: 'Email';
        font-size: 12px;
        color: #333333;
        line-height: 16px;
        margin-bottom: 3px;
    }

    .customer_info_box_responsive #billing_city_field:before {
        display: table;
        content: 'Tỉnh/Thành phố';
        font-size: 12px;
        color: #333333;
        line-height: 16px;
        margin-bottom: 3px;
    }

    .customer_info_box_responsive #billing_address_2_field:before {
        display: table;
        content: 'Quận/Huyện';
        font-size: 12px;
        color: #333333;
        line-height: 16px;
        margin-bottom: 3px;
    }

    .customer_info_box_responsive #billing_address_1_field:before {
        display: table;
        content: 'Địa chỉ giao hàng';
        font-size: 12px;
        color: #333333;
        line-height: 16px;
        margin-bottom: 3px;
    }

    #payment_responsive ul {
        margin: 0px;
        padding: 0px;
    }

    #payment_responsive .wc_payment_methods {
        margin-bottom: 20px;
    }

    #payment_responsive .payment_guild_box {
        background: #f5f3f0;
        border: solid 1px #cccccc;
        padding: 10px;
    }

    #payment_responsive ul li {
        list-style: none;
    }

    #payment_responsive .payment_guild_bank img {
        display: block;
        margin: 0 auto 2px;
        width: 100px;
    }

    .quick_link_block {
        margin-bottom: 39px;
    }

    .quick_link_block .right_block {
        font-size: 13px;
        color: #5c5c5c;
        font-family: Roboto-regular;
    }

    .quick_link_block .quick_block_item,
    .quick_link_block .right_block,
    .quick_link_block .left_block {
        padding: 0px;
    }

    .quick_link_block .quick_block_item {
        height: 36px;
        margin-bottom: 5px;
        padding-right: 7px;
        border: solid 1px #f4f4f4;
        border-radius: 1px;
        line-height: 36px;
    }

    .quick_link_block .quick_block_item:nth-child(2n) {
        padding-right: 0px;
    }

    .quick_link_block .left_block img {
        display: block;
        margin: 10px auto 0;
    }

    .customer_info_box_responsive .sidebar_title,
    #payment_responsive .sidebar_title {
        font-family: Roboto-bold;
        font-size: 16px;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: left;
        color: #333333;
        line-height: 36px;
        background: #ebe7e1;
        text-transform: none;
        padding: 8px 8px;
        height: auto;
    }

    .customer_info_box_responsive input {
        background: #ffffff;
    }

    .searchBox_responsive .frm_search {
        width: 262px;
        display: block;
        margin: 0 auto;
    }

    .searchBox_responsive .frm_search input {
        width: 262px;
        display: block;
        margin: 0 auto 20px;
        border-radius: 24px;
        height: 36px;
        background-color: #f4f4f4;
    }

    .searchBox_responsive .btn_search {
        right: 17px;
        left: auto;
        padding: 0px;
        width: 16px;
        height: 16px;
        top: 7px;
    }

    .header_cart_dropdow {
        margin-top: 17px;
        margin-left: -214px;
    }

    .navbar-inverse .navbar-nav > li > a {
        font-family: Roboto-regular;
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: center;
        text-transform: none;
        color: #333333;
    }

    .full_screen_toogle .closed_menu {
        position: absolute;
        top: 4px;
        left: 14px;
        width: 14px;
        height: 37px;
    }

    .full_screen_toogle .closed_menu i {
        font-size: 36px;
        color: #333333;
    }

    .full_screen_toogle .footer_comp_info {
        text-align: center;
        font-family: Roboto-regular;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #929292;
        width: 295px;
        max-width: 295px;
        margin: 0 auto 10px;
    }

    .category_block_responsive{
        margin: 0 15px;
    }

    .full_screen_toogle .footer_social .social_item {
        width: 25%;
        float: left;
    }

    .full_screen_toogle .footer_social {
        width: 200px;
        display: block;
        margin: 0 auto;
    }

    .full_screen_toogle .footer_social:after {
        display: table;
        content: '';
        clear: both;
    }

    .full_screen_toogle .social_item i {
        font-size: 24px;
        width: 24px;
        height: 24px;
    }

    .full_screen_toogle #menu-header-menu-1:before {
        display: table;
        content: '';
        background: #cccccc;
        margin: 0 auto;
        height: 2px;
        z-index: 1;
        width: 295px;
    }

    .brand_page .list_product_slide:after,
    .product_page_list:after {
        display: table;
        content: '';
        clear: both;
    }

    .product_page_list {

        margin: 0 10px 57px;
    }

    .about_content_top .col-sm-4 img{
        position: relative !important;
        margin-top: 0px!important;
    }

    .number_cart_items {
        top: -3px;
    }

    .create-account {
        display: none;
    }

    .brand_image_top {
        display: none;
    }

    .brand_page .block_title {
        font-family: Roboto-regular;
        line-height: 24px;
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #333333;
    }

    .brand_page .count_product {
        display: none;
    }

    .brand_page .product_page_list .list_product_slide .product_box {
        width: 50%;
        height: 239px;
    }

    .brand_page .list_product_slide .product_box .product_image {
        float: none;
        margin: 0 auto;
    }

    .brand_page .product_box img {
        height: 110px;
        width: 110px;
        min-height: 110px;
    }

    .brand_page .product_box .product_rating {
        padding-left: 15px;
        margin-bottom: 0px;
    }

    .brand_page .list_product_slide .product_price {
        text-align: right;
        padding-right: 15px;
    }

    .about_gallery_item {
        width: 50%;
    }

    .rightsidebar ul {
        padding: 0px;
    }

    .rightsidebar ul li {
        list-style: none;
        padding: 0 14px;
    }

    .archive_page,
    .page_container, .about_page, .contact_page {
        margin-top: 0px;
        padding: 0 5px;
    }

    .list_product_responsive .product_box.product_20p{
        border-right: 1px solid #f5f5f5;
    }

    .news_box{
        border: none;
    }

    .single_container{
        margin: 0px;
    }
}

.header_main {
    background: #232323;
}

.header_main .header_logo img {
    width: 204px;
    height: 34px;
}

.sidebar_product {
    padding-top: 10px;
}

@media (min-width: 1200px) {
    .sidebar {
        padding: 0px;
    }
}